Libs/ScriptCleaner~/NGOCodeStripping/bin
Libs/ScriptCleaner~/NGOCodeStripping/obj
Libs/ScriptCleaner~/.idea
Libs/ScriptCleaner~/.idea
Libs/ScriptCleaner~/CodeGenUtils/bin
Libs/ScriptCleaner~/CodeGenUtils/obj
